.text-input {
  height: 40px;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 20px;
  border: unset;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
}
